@model IEnumerable<FirstMVCApp.Models.Author>

@{
    ViewData["Title"] = "AuthorList";
}

<h1>AuthorList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoyalityCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoyalityCompany)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID}) |
                    @Html.ActionLink("Details", "Details", new { id=item.AuthorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
            </td>
        </tr>
}
    </tbody>
</table>
